{% extends 'mainUI/tpl_availablesrv.html' %}

{% block image %}

    <img src="/static/images/userimage.png" alt="" />

{% endblock %}

{% block available_services %}

Hello <strong>{{user.first_name}}</strong>!

How is {{provider.provider_businness_name}} going? <br/><br/> <br/><br/>
<strong>Username:</strong> {{user.username}} <br/><br/>
<strong>Email:</strong> {{user.email}} <br/><br/>

<a href="/mainUI/pending_bookings" class="button"> Pending Requests</a>
<a href="/mainUI/upcoming_bookings" class="button"> Upcoming Bookings </a>

</div>

{% endblock %}

{% block asbuttons%}

<a href="/mainUI/s" class="button"> Home </a>
	
{% endblock %}