{% extends 'mainUI/tpl_availablesrv.html' %}

{% block image %}

    <img src="/static/images/pic09.jpg" alt="" />

{% endblock %}

{% block available_services %} 

<h4>{{ msg }}</h4>

{% if service %}
	<div>
		<br/>
		<h4><strong> Your booking details: </strong></h4>
		<strong>Service: </strong>{{service}} <br/>
		<strong>Provider: </strong>{{provider}}<br/>
		<strong>Date: </strong>{{date}}<br/>
		<strong>Time: </strong>{{time}}<br/>
		<strong>Status: </strong> {{confirmed}}
		<br/><br/><br/><br/>
	</div>

{% endif %}

{% endblock %}


{% block asbuttons %}
<p>
	<a href="/mainUI/srvgroups" class="button"> Make another booking! </a> 
	<a href="/mainUI/" class="button"> Home </a> 
</p>
{% endblock%}