{% extends 'mainUI/tpl_availablesrv.html' %}

{% block image %}

    <img src="/static/images/joinus3.jpg" alt="" />

{% endblock %}

{% block available_services %}						

    <h1>Join Us!</h1>
    <a href="{% url 'mainUI:register_provider' %}"> Do you own a businness? <font color="blue">Register Here!</font></a>
    <br/><br/>

    <div>
        <form role="form" method="post" action="./register-customer">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ customer_form.as_p }}
            <input type="submit" value="Register" />
        </form>     
    </div>
{% endblock %}